<h1 class='page-title'>Welcome</h1>
<div class='form-wrapper'>
<p>Welcome to Tessaract.</p>
<p> This is a timer and leaderboard app for tracking your rubix solving progress. Click on 'Leaderboard' for a table of top scores!</p>
</div>
