<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='https://necolas.github.io/normalize.css/3.0.3/normalize.css'/>
    <link rel='stylesheet' href='/css/style.css' />
  </head>
  <body>
    <nav>
      <h1>Tesseract</h1>
      <ul>
        <li>Home</li>
        <li>Leaderboard</li>
        <li>Time Cube</li>
        <li>Login</li>
      </ul>
    </nav>
    {{{body}}}
  </body>
</html>
