<h1 class='page-title'>Sign Up</h1>
<div class='form-wrapper'>
<form class="form" action="/signup" method="post">
    <div class="form-group">
        <label for="username">User Name</label>
        <br>
        <input class='text-input' type="text" name="username" value="">
    </div>
    <br>
    <div class="form-group">
        <label for="password">Password</label>
        <br>
        <input type="password" class='text-input' name="password" value="">
    </div>
    <br><br>
    <input type="submit" value="Sign-Up">
</form>

</div>
